page-form-text {

}

.center {
    margin: auto;
    text-align: center;
}

.wide {
    width: 40%;
}

.message {
    width: 60%;
    margin: 10% auto;
}

.button-margin {
    margin: 5% 0;
}

.h1-title {
    margin-top: 20%;
}

.border {
    border: 1px solid black;
}