page-help {

}
.center {
    margin: auto;
    text-align: center;
}

.wide {
    width: 40%;
}

.wide-message {
    width: 80%;
    margin: 10% auto;
}

.button-margin {
    margin: 5% 0;
}

.h1-title {
    margin-top: 20%;
}