// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.center {
    margin: auto;
    text-align: center;
}

.md button {
    text-transform: none;
}

.wide-message {
    width: 80%;
    margin: 10% auto;
}

.wide {
    width: 40%;
}

.message {
    width: 80%;
    margin: 5% auto;
    padding: 5%;
}

.button-margin {
    margin: 5% 0;
}

.h1-title {
    margin-top: 20%;
    font-size: 30px;
    font-weight: bold;
}

.inline-icon-button {
    display: inline-block;
    margin: 5%;
}

.bottom-margin {
    margin-bottom: 5%;
}

.script {
    font-family: 'Kalam', cursive;
    font-size: 25px;
}

.script-smaller {
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

.response {
    font-size: 35px;
}

.default-font {
    font-family: 'Roboto Condensed', sans-serif;
}

.form-font {
    font-size: 20px;
}

.transparent {
    background-color: hsla(0,0,100,.3);
}