page-form-voice {

}

.center {
    margin: auto;
    text-align: center;
}

.wide {
    width: 40%;
}

.message {
    width: 60%;
    margin: 10% auto;
}

.button-margin {
    margin: 5% 0;
}

.h1-title {
    margin-top: 20%;
}

.inline-icon-button {
    display: inline-block;
    margin: 5%;
}

.bottom-margin {
    margin-bottom: 5%;
}